body {
    background-color: orangered;
    font-family: Monospace;
    font-size: 24px;
    color: black;
    text-align: center;
    background-repeat: repeat;
    background-position: center;
    align-items: center;
    justify-content: center
}
#Canvas {
    background-color: lightgrey;
    font-family: Arial;
    font-size: 12px;
    color: magenta;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center:
}
