body {
    background: url("PyOnlineBG.jpg");
    font-family: Monospace;
    font-size: 24px;
    color: green;
    text-align: center;
    background-repeat: repeat;
    background-position: center;
    align-items: center;
    justify-content: center
}
